@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


h1 {
    font-family: "Newsreader", serif;
    font-size: 4em;
    font-weight: 700;
    color: #2A2927;
    line-height: 3;
}

h2 {
    font-family: "Newsreader", serif;
    font-size: 3em;
    font-weight: 700;
    color: #2A2927;
    line-height: 3;
}

h3 {
    font-family: "Newsreader", serif;
    font-size: 2em;
    font-weight: 700;
    color: #2A2927;
    line-height: 3;
}

main {
    background-color: #FDF2E9;
    padding: 0 0 5em 0;
    font-family: "Newsreader", serif;
}

body {
    background-color: #FDF2E9;
    padding: 0 0 5em 0; 
    font-size: 16px;
    line-height: 1.5;
    padding: 3em;
}

header {
    text-align: center;
    padding: 3em 0;
}

nav {
    word-spacing: 2em;
}

nav a {
    text-transform: uppercase;
    color: #2A2927;
}

.about,
.resume,
.contact {
    background-color: #FADBD8;
    color: #2A2927;
    margin: 1em 0 2.5em 2.5em;
    padding: 2em 2.5em 2.5em 2.5em;
    border-radius: 20px;
}

.links {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Sigmar", serif;
    letter-spacing: 1px;
}

.links a {
    color: black;
}

img {
    width: 600px;
    border-radius: 20px;
    text-align: center;
}

.section {
    margin: 20px;
    padding: 15px; 
}

h1, h2, h3 {
    margin: 0;
    padding: 10px 0;
}

@media (max-width:556px) {
    header img {
        width: 50%
    }
}