@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


h1,
h2,
h3 {
    margin: 0;
    padding: 10px 0;
    font-family: "Newsreader", serif;
    font-weight: 700;
    color: #2A2927;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 15px;
}

.row {
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    padding: 1.5em 0 0 0;
    font-size: 1.5em;
}

i {
    padding: 0 0 2em 0;
    display: block;
}

main {
    background-color: #FDF2E9;
    padding: 0 0 5em 0;
    font-family: "Newsreader", serif;
}

body {
    background-color: #FDF2E9;
    padding: 0 0 5em 0;
    font-size: 16px;
    line-height: 1.5;
    padding: 3em;
}

header {
    text-align: center;
    padding: 3em 0;
}

nav {
    word-spacing: 2em;
}

.contact a,
nav a {
    text-transform: uppercase;
    color: #2A2927;
}

.about,
.resume,
.contact,
.clips {
    background-color: #FADBD8;
    color: #2A2927;
    padding: 2em;
    border-radius: 20px;
}

.links {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Sigmar", serif;
    letter-spacing: 1px;
    color: #2A2927;
}

img {
    width: 600px;
    border-radius: 20px;
    text-align: center;
}

.row {
    margin-top: 100px;
}

.clip-link,
.clip-link a {
    color: #2A2927;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 5;
}

@media (max-width:556px) {
    header img {
        width: 50%
    }
}